body{    
    margin:0px;
    padding:0px;
    width: 1200px;
    height: 130vh;
    text-align: center;
       
}
.head-part{  
     margin: 0px;
    padding: 30px;
    width: 100%;
    height: 150px ;
        
}
#headtop{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#head1{
    text-align: left;

}
#head2{
    
    text-align:center;
}
#head3{
    text-align: right;
}

/* 메뉴바관련 */

.navi{
    display: flex;
  justify-content: center;
  align-items: center;  
  justify-content: space-around;   
}
.navi>li {
    background-color: rgb(9, 252, 240);
    list-style-type: none;
    width:150px;
    height: 40px;
    font-size: 20px;    
    float: left;    
    text-align: center;  
    border-radius: 10%;          
    
}
.navi>li>a {
    color: darkblue;
    text-rendering: geometricPrecision;
    text-decoration: none;   
    line-height: 40px;
    width: 100%;
    height: 100%;
    display: inline-block; /*메뉴영역에 마우스가 올라가도 선택될수 있도록 변경*/
    
    
}
.navi>li>a:hover {
    font-size: 1.6em;
    font-weight: bold;
    
}
  
/* 메뉴 끝 */
/* 본문내용 */
.container{
    position:relative;
    margin: 0%;
    width: 100%;
    height: 70%; 
    display: flex;
}
#rowL{
    left: 0ch;
    flex: 1;    
    text-align: left;  
        
}
.rowcenter{   
    flex: 8; 
    height: 100px;
    right:20px;
    margin: 0 auto;
    padding: 0;       
}

#rowR{
    flex: 1;    
    float: right;
    text-align: center;      
}

#rowhead{    
    margin: 0;
    height: 80px; 
    justify-content: space-around;      
}
/* 입력 검색창 3개셋트 */
select{
    width: 150px;
    height: 50px;
    border: 2px solid cornflowerblue;
    border-radius: 10%;   
}

#serchInput{
    width: 400px;
    height: 50px;
    border: 2px solid cornflowerblue;
    border-radius: 10%
}

#addon2{
    width: 80px;
    height: 50px;
    border: 2px solid cornflowerblue;
    border-radius: 10%
}
/* 조회수 추천순 등록일 */
#rowbtn{
    margin: 0;
    width: 100%;
    height: 50px;
    border-top: 3px solid cornflowerblue ;
    text-align: right;
}
/* 검색후 이미지등등이 올라갈 자리들 */
#rowbody{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

/* 하단자리 */
.footer{
    width: 100%;
    height: 150px;
    background-color: honeydew;
}
.pagination{
    justify-content: center;
};
    
  
   


