* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
}

a:visited { 
    color:black;
}

header {
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background-color: rgba(255, 255, 255, 1);
}

.header-container {
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    position: relative;
    padding: 0 100px;
}

header h1 {
    display: block;
    width: auto;
    height: 40px;
    position: relative;
    margin: 0;
    z-index: 3;
}

header h1 img {
    width: auto;
    height: 30px;
    display: block;
    position: relative;
    top: 10px;
}

.main-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: auto;
    text-align: center;
}

.main-navigation a {
    margin-left: 20px;
}

.header-search {
    display: block;
    width: 40px;
    height: 40px;
}

.header-cart {
    display: block;
    width: 40px;
    height: 40px;
}

.header-mypage {
    display: block;
    width: 40px;
    height: 40px;
}

.board-navigation {
    height: 50px;
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 3;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(224, 224, 224, 0.5)
}

.board-container {
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    position: relative;
    padding: 0 100px;
}

.board-navigation ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.board-navigation ul li {
    list-style-type: none;
}

main {
    padding-top: 130px;
}

.fixed-icon {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.fixed-icon img {
    height: 50px;
    width: 50px;
    margin-left: 20px;
    opacity: 0.5;
}

/*footer*/

.footer_content_first {
	padding-bottom: 91px;
}
footer > .footer_inner {
	width: 992px;
	padding: 32px 0;
	margin: 0 auto;
}
.footer_content {
	float: left;
}
.footer_content.left {
	width: 433px;
}
.footer_content.right {
	width: calc(100% - 433px);
}
.footer_content.right .title {
	margin-bottom: 5px;
}
.footer_content .title {
	font-weight: bold;
	font-size: 16px;
	color: #171F29;
	margin-bottom: 16px;
}
.footer_content.left .tel {
	font-weight: bold;
	font-size: 24px;
	line-height: 35px;
	color: #171F29;
	margin-bottom: 1px;
}
.footer_content.left .work_time {
	font-weight: 500;
	font-size: 13px;
	line-height: 19px;
	color: grey;
	margin-bottom: 26px;
}

.content_link ul {
	margin: 0 0 14px 0;
}
.content_link ul li {
	display: inline-block;
	margin: 0 30px;
}
.content_link ul li.hr {
	border-left: 1px solid #EBEEF1;
	width: 1px;
	margin: 0;
}
.content_link ul li:first-child {
	text-align: left;
	margin-left: 0;
}
.content_link ul li a {
	font-weight: 500;
	font-size: 13px;
	line-height: 19px;
	color: black;
}
.footer_content .footer_content_sub_txt {
	font-weight: 500;
	font-size: 13px;
	line-height: 20px;
	color: grey;
}


@media screen and (max-width: 768px) {
    body {
        padding: 100px 20px 0px 20px;
    }
    
    header {
        height: 50px;
    }

    .header-container {
        height: 50px;
        padding: 0 20px;
    }

    header h1 img {
        width: auto;
        height: 30px;
        display: block;
        position: relative;
        top: 10px;
    }
    
    .main-navigation a {
        margin: 0;
    }

    .header-cart {
        display: none;
    }

    .header-mypage {
        width: 30px;
        height: 30px;
    }

    .header-search {
        width: 30px;
        height: 30px;
    }


    .board-navigation {
        top: 50px;
    }

    .board-container {
        padding: 0 20px;
    }

    .board-navigation ul {
        justify-content: space-between;
    }

    main {
        padding: 0;
    }
    
    .store-icon {
        display: none;
    }

    .fixed-icon {
        bottom: 10px;
        right: 20px;
    }

}

