@charset "utf-8";
body{
	width: 480px;
	height: 600px;	
}

.header{
	width:100%;
	height: 20%;
    padding: 10px;
	background-color: rgb(106,50,137);	
	display: flex;
}
#Nickname{
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
}
.btn{
    margin-left: auto;
    padding:10px;          
    width:20%;
    height: 100%;
}
    
#endChat{
    width: 100px;
    height: 100px;     
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
    margin-bottom: 10px;          
    background-color: fff;

}
.textIn{	
	margin:0px;
	padding:0px;
	width:80%;
	height: 100%;
}
/* 본문부분 */
.context{
	width:100%;
	height: 60%;
	overFlow-y: auto; 
}
#inTitle{
    width: 400px;
    height: 40px;
    padding-left: 20px;
    border-radius: 10%;
    font-size: medium;
    font-weight: bolder;
}
#centerbtn{
    width: 50px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(223, 245, 205);
    border-color:rgb(223, 245, 205);
    border-radius: 2ex;
}
/* 하단 입력부분 */
.footer{
	width:100%;
	height: 15%;
    padding: 10px;
	background-color: rgb(106,50,137);	
	display: flex;
}
 textarea {    
 	width:90%;
	height: 90%;
	align-content: center;
    font-size: 15px;
    border-radius: 2ex;
    font-weight: bold;
    text-overflow: clip;
    padding-left: 20px;
    padding-top: 20px;
 }
 #getResult{    
    width: 80px;
    height: 80px;     
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
    margin-bottom: 10px;          
    background-color: fff;
 }

 /*채팅내용   */

    .after{   
        display: flex; 
        justify-content: flex-start;                     
    }

    .right{
        text-align: right;
        margin-right: auto;
        justify-content: flex-and;
        margin: 5px;        
        top : 2cm;
        right: 0.2cm;        
    };

    .left{         
        text-align: right;          
        
    }
   
    .contextBox{
        margin: px;
        padding: 5px;
        border-radius: 1ex;
        background-color: rgb(223, 245, 205);
        font-size: 20px;
    }
    .dateBox{
        font-weight: bold;
        font-size: small;
        color :rgb(111, 17, 233)

    }
    h5{
        margin: 0;
        padding-bottom: 5px;
    }