<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminMapper">
	<resultMap type="Admin" id="MemberAdminResultMap">
		<result property="memberEmail" 	column="MEMBER_EMAIL"/>
		<result property="memberNickName" 	column="MEMBER_NICKNAME"/>
		<result property="totalPoint" 	column="TOTAL_POINT"/>
	</resultMap>
	
	<select id="selectTotalCount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER_TBL WHERE MEMBER_EMAIL LIKE '%'||#{memberInfo}||'%'
	</select>
		
	<select id="selectAllEmail" resultMap="MemberAdminResultMap">
		SELECT * FROM MEMBER_TBL WHERE MEMBER_EMAIL LIKE '%'||#{memberInfo}||'%'
	</select>
	
	<select id="selectAllNickName" resultMap="MemberAdminResultMap">
		SELECT * FROM MEMBER_TBL WHERE MEMBER_NICKNAME LIKE '%'||#{memberInfo}||'%'
	</select>
	
	<delete id="deleteMember" parameterType="String">
		DELETE FROM MEMBER_TBL WHERE MEMBER_EMAIL = #{memberEmail}
	</delete>
	</mapper>