<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="BoardMapper">
  <resultMap type="Board" id="BoardAdminResultMap">
		<result property="memberEmail" 	column="MEMBER_EMAIL"/>
		<result property="boardTitle" 	column="RECIPE_NAME"/>
	</resultMap>
	
	<select id="selectBoardList" parameterType="HashMap" resultMap="BoardAdminResultMap">
		SELECT MEMBER_EMAIL, RECIPE_NAME FROM RECIPE_TBL 
		WHERE $(colName) LIKE '%' || #(searchWord) ||'%' 
		ORDER BY NO DESC
	</select>
  </mapper>