<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
	<resultMap type="Member" id="memberResultMap">
		<id 	property="memberEmail" 	column="MEMBER_EMAIL"/>
		<result property="memberPwd" 	column="MEMBER_PW"/>
		<result property="memberNickname" 	column="MEMBER_NICKNAME"/>
		<result property="adminCheck" 	column="ADMIN_CHECK"/>
		<result property="totalPoint" 	column="TOTAL_POINT"/>

	</resultMap>

	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER_TBL
		VALUES(#{memberEmail}, #{memberPwd}, #{memberNickname}, DEFAULT, DEFAULT)
	</insert>

	<update id="updateMemberNickname" parameterType="Member">
		UPDATE MEMBER_TBL
		SET MEMBER_NICKNAME = #{memberNickname }
		WHERE MEMBER_EMAIL = #{memberEmail }
	</update>
	
	<update id="updateMemberPwd" parameterType="Member">
		UPDATE MEMBER_TBL
		SET MEMBER_PWD = #{memberPwd }
		WHERE MEMBER_EMAIL = #{memberEmail }
	</update>
	
	<delete id="deleteMember">
		DELETE FROM MEMBER_TBL
		WHERE MEMBER_EMAIL = #{memberEmail }
	</delete>

	<select id="selectLoginOne" resultMap="memberResultMap">
		SELECT * FROM MEMBER_TBL
		 WHERE MEMBER_EMAIL = #{memberEmail } AND MEMBER_PW = #{memberPwd }
	</select>


	<select id="selectOneByEmail" resultMap="memberResultMap">
		SELECT * FROM MEMBER_TBL
		WHERE MEMBER_EMAIL = #{memberEmail }
	</select>
	
	<resultMap type="Recipe" id="recipeResultMap">
		<id property="recipeNo" 			column="RECIPE_NO" />
		<result property="recipeName" 		column="RECIPE_NAME" />
		<result property="recipeInfo" 		column="RECIPE_INFO" />
		<result property="mainPic" 			column="MAIN_PICTURE" />
		<result property="insertDate" 		column="INCERT_DATE" />
		<result property="recipeCategory" 	column="RECIPE_CATEGORY" />
		<result property="recipeVideo" 		column="RECIPE_VIDEO" />
		<result property="viewCount" 		column="VIEW_COUNT" />
		<result property="memberEmail" 		column="MEMBER_EMAIL" />
		<result property="updateDate" 		column="UPDATE_DATE" />
		<result property="recipeStatus"		column="RECIPE_STATUS" />
		<result property="recommandCount" 	column="RECOMMAND_COUNT" />
		<result property="mainPicRename" 	column="MAIN_PIC_RENAME" />
		<result property="recipeTime" 		column="RECIPE_TIME" />
	</resultMap>
	
	<select id="selectRecipeNumber" resultMap="recipeResultMap">
		select * from recipe_tbl where MEMBER_EMAIL = #{memberEmail} order by UPDATE_DATE DESC
	</select>
	
	<resultMap type="RecipeComment" id="RecipeCommentResultMap">
		<id property="commentNo" 				column="COMMENT_NO" />
		<result property="commentDate"			column="COMMENT_DATE" />
		<result property="commentContents" 		column="COMMNET_CONTENTS" />
		<result property="recipeNo" 			column="RECIPE_NO" />
		<result property="memberEmail"			column="MEMBER_EMAIL" />
	</resultMap>
	
	<select id="selectCommentNumber" resultMap="RecipeCommentResultMap">
		select * from RECIPE_COMMENT where MEMBER_EMAIL = #{memberEmail} order by COMMENT_NO DESC
	</select>

	
	<resultMap type="Point" id="pointResultMap">
		<result property="pointMemberEmail" 	column="POINT_MEMBER_EMAIL"/>
		<result property="pointDetail" 			column="POINT_DETAIL"/>
		<result property="usingPoint" 			column="USING_POINT"/>
		<result property="pointDate" 			column="POINT_DATE"/>
	</resultMap>

	<select id="selectPoint" resultMap="pointResultMap">
		SELECT * FROM POINT WHERE POINT_MEMBER_EMAIL = #{pointMemberEmail } order by POINT_DATE DESC

	</select>
	
	</mapper>
	
