<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RecipeMapper">
<insert id="insertRecipe">

		insert into recipe_tbl
		values(seq_recipe_no.nextval,#{recipeName},#{recipeInfo},#{mainPic},default,#{recipeCategory},#{recipeVideo},default,#{memberEmail},default,default,#{recommandCount},#{mainPicRename},#{recipeTime})

	</insert>

	<insert id="insertRecipeMaterial">
		insert into recipe_material
		values(#{materialOrder},seq_recipe_no.currval,#{material},#{amount})
	</insert>

	<insert id="insertRecipeStep">
		insert into recipe_step
		values(#{recipeOrder},seq_recipe_no.currval,#{recipeDescription},#{recipePic},#{recipePicRename})
	</insert>

	<insert id="insertTag">
		insert into recipe_tag
		values(seq_recipe_no.currval,#{jmt},#{healthy},#{goodSpicy},#{full},#{soSpicy},#{sweet},#{easy},#{party})
	</insert>
	
	<insert id="insertRecipeMaterialPlus">
	insert into recipe_material
		values(#{materialOrder},#{recipeNo},#{material},#{amount})
	</insert>
	
	<insert id="insertRstepPlus">
	insert into recipe_step values(#{recipeOrder},#{recipeNo},#{recipeDescription},#{recipePic},#{recipePicRename})
	
	</insert>
	
	<update id="deleteOneImg">
		update recipe_step set RECIPE_PICTURE = null, RECIPE_PIC_RENAME=null where RECIPE_PIC_RENAME = #{picName}
	</update>
	
	<update id="deleteRecipe">
		update recipe_tbl set RECIPE_STATUS = 'N' where RECIPE_NO = #{recipeNo}
	</update>

<update id = "updateOneRecipe">
	update recipe_tbl set RECIPE_NAME = #{recipeName}, RECIPE_INFO = #{recipeInfo}, MAIN_PICTURE = #{mainPic}, RECIPE_CATEGORY= #{recipeCategory},
	RECIPE_VIDEO = #{recipeVideo}, MAIN_PIC_RENAME = #{mainPicRename}, RECIPE_TIME = #{recipeTime}, UPDATE_DATE = default
	where RECIPE_NO = #{recipeNo}
</update>

<update id = "updateOneStep">
	update recipe_step set recipe_Description = #{recipeDescription}, RECIPE_PICTURE = #{recipePic}, RECIPE_PIC_RENAME= #{recipePicRename}
	where RECIPE_NO = #{recipeNo} and RECIPE_ORDER = #{recipeOrder}
</update>

<update id = "updateOneMaterial">
	update recipe_material set MATERIAL = #{material}, AMOUNT = #{amount}
	where RECIPE_NO = #{recipeNo} and MATERIAL_ORDER = #{materialOrder}
</update>

<update id = "updateOneTag">
	update recipe_tag set jmt = #{jmt}, healthy = #{healthy}, goodSpicy = #{goodSpicy}, full = #{full},soSpicy = #{soSpicy}, sweet = #{sweet},easy = #{easy},party = #{party}
	where RECIPE_NO = #{recipeNo}
</update>

<update id="countPlus">
	update recipe_tbl set VIEW_COUNT = VIEW_COUNT+1 where RECIPE_NO = #{recipeNo}

</update>

<update id="recomandPlus">
update recipe_tbl set RECOMMAND_COUNT = RECOMMAND_COUNT+1 where RECIPE_NO = #{recipeNo}
</update>

<update id="recomandMinus">
update recipe_tbl set RECOMMAND_COUNT = RECOMMAND_COUNT-1 where RECIPE_NO = #{recipeNo}

</update>

<delete id="deleteOneMaterial">
	delete recipe_material  where RECIPE_NO = #{recipeNo} and MATERIAL_ORDER = #{materialOrder}
	
</delete>





	<resultMap type="Recipe" id="recipeResultMap">
		<id property="recipeNo" 			column="RECIPE_NO" />
		<result property="recipeName" 		column="RECIPE_NAME" />
		<result property="recipeInfo" 		column="RECIPE_INFO" />
		<result property="mainPic" 			column="MAIN_PICTURE" />
		<result property="insertDate" 		column="INCERT_DATE" />
		<result property="recipeCategory" 	column="RECIPE_CATEGORY" />
		<result property="recipeVideo" 		column="RECIPE_VIDEO" />
		<result property="viewCount" 		column="VIEW_COUNT" />
		<result property="memberEmail" 		column="MEMBER_EMAIL" />
		<result property="updateDate" 		column="UPDATE_DATE" />
		<result property="recipeStatus"		column="RECIPE_STATUS" />
		<result property="recommandCount" 	column="RECOMMAND_COUNT" />
		<result property="mainPicRename" 	column="MAIN_PIC_RENAME" />
		<result property="recipeTime" 		column="RECIPE_TIME" />
	</resultMap>

	<select id="selectAllRecipe" resultMap="recipeResultMap">
		select * from recipe_tbl where RECIPE_STATUS = 'Y'
	</select>

	<select id="selectOneRecipe" resultMap="recipeResultMap">
		select * from recipe_tbl where RECIPE_NO = #{recipeNo} and RECIPE_STATUS = 'Y'
	</select>
	
	<select id="selectRecommandRecipe" resultMap="recipeResultMap">
	 select * from recipe_tbl where RECIPE_CATEGORY = #{recipeCategory}
	</select>
	
	<!-- 	마이레시피 조회용 -->
	<select id="selectAllByValue" resultMap="recipeResultMap">
<!-- 		SELECT * FROM RECIPE_TBL WHERE MEMBER_EMAIL = #{memberEmail} -->
		SELECT * FROM RECIPE_TBL, MYRECIPE_TBL 
WHERE RECIPE_TBL.RECIPE_NO = MYRECIPE_TBL.RECIPE_NO AND MYRECIPE_TBL.MEMBER_EMAIL = #{memberEmail}
	</select>
	
	
	
<!-- 	마이레시피 맵 -->

	<resultMap type="MyRecipe" id="MyRecipeResultMap">
		<result property="memberEmail" 	column="MEMBER_EMAIL"/>
		<result property="recipeNo" 	column="RECIPE_NO"/>
		<result property="myRecipeNo" 	column="MYRECIPE_NO"/>
		<result property="recipeName" 	column="RECIPE_NAME"/>
	</resultMap>
	
	
	<delete id="removeMyRecipe">
		DELETE FROM MYRECIPE_TBL WHERE RECIPE_NO = #{recipeNo} AND MEMBER_EMAIL = #{memberEmail }
	</delete>
	
	<insert id="insertMyRecipe">
		INSERT INTO MYRECIPE_TBL VALUES(#{memberEmail}, #{recipeNo}, SEQ_MYRECIPE_NO.NEXTVAL, #{recipeName})
	</insert>

	<select id="selectTotalCount" resultType="_int">
		SELECT COUNT(*) FROM MYRECIPE_TBL WHERE MEMBER_EMAIL = #{memberEmail}
	</select>
	
<!-- 	마이레시피 맵 끝 -->

	<resultMap type="RecipeMaterial" id="RecipeMaterialResultMap">
		<id property="recipeNo"				column="RECIPE_NO" />
		<result property="materialOrder" 	column="MATERIAL_ORDER" />
		<result property="material" 		column="MATERIAL" />
		<result property="amount" 			column="AMOUNT" />
	</resultMap>

	<select id="selectOneRMaterial" resultMap="RecipeMaterialResultMap">
		select * from recipe_material where RECIPE_NO = #{recipeNo}order by MATERIAL_ORDER
	</select>
	
	<select id="countMaterial" resultType="_int">
		select count(*) from recipe_material where RECIPE_NO = #{recipeNo}
	</select>

	<resultMap type="RecipeTag" id="RecipeTagResultMap">
		<id property="recipeNo" 		column="recipeNo" />
		<result property="jmt" 			column="JMT" />
		<result property="healthy" 		column="HEALTHY" />
		<result property="goodSpicy" 	column="GOODSPICY" />
		<result property="full" 		column="FULL" />
		<result property="soSpicy" 		column="SOSPICY" />
		<result property="sweet" 		column="SWEET" />
		<result property="easy" 		column="EASY" />
		<result property="party"		column="PARTY" />
	</resultMap>

	<select id="selectOneRTag" resultMap="RecipeTagResultMap">
		select * from recipe_tag where RECIPE_NO = #{recipeNo}
	</select>

	<resultMap type="RecipeStep" id="RecipeStepResultMap">
		<id property="recipeNo" 				column="recipe_No" />
		<result property="recipeOrder" 			column="RECiPE_ORDER" />
		<result property="recipeDescription"	column="RECIPE_DESCRIPTION" />
		<result property="recipePic" 			column="RECIPE_PICTURE" />
		<result property="recipePicRename"		column="RECIPE_PIC_RENAME" />
	</resultMap>
	
	<select id="selectOneRStep" resultMap="RecipeStepResultMap">
		select * from recipe_Step where recipe_no = #{recipeNo} order by RECIPE_ORDER
	</select>
	
	
<!-- 레시피 추천영역 -->

<insert id="insertRecommand">
	insert into RECOMMANDATION values(#{recipeNo},#{memberEmail},default)
</insert>

<delete id="deleteRecommand">
	delete RECOMMANDATION where RECIPE_NO = #{recipeNo} and MEMBER_EMAIL=#{memberEmail}

</delete>

<resultMap type="Recommandation" id="RecommandResultMap">
	<id property="recipeNo" 				column="RECIPE_NO" />
	<result property="memberEmail"			column="MEMBER_EMAIL" />

	</resultMap>







<!--  레시피 코멘트 영역-->


<resultMap type="RecipeComment" id="RecipeCommentResultMap">
		<id property="commentNo" 				column="COMMENT_NO" />
		<result property="commentDate"			column="COMMENT_DATE" />
		<result property="commentContents" 		column="COMMNET_CONTENTS" />
		<result property="recipeNo" 			column="RECIPE_NO" />
		<result property="memberEmail"			column="MEMBER_EMAIL" />
	</resultMap>


<insert id="insertRecipeComment">
insert into recipe_comment values(seq_r_comment_no.nextval, default, #{commentContents},#{recipeNo}, #{memberEmail} )
</insert>

<delete id="deleteOneRecipeComment">
delete recipe_comment where COMMENT_NO= #{commentNo}
</delete>
	
<update id="updateOneComment">
update recipe_comment set COMMNET_CONTENTS=#{commentContents} where COMMENT_NO = #{commentNo}
</update>
	
	
	
<select id="selectCommentList" resultMap="RecipeCommentResultMap">
select * from recipe_comment where RECIPE_NO = #{recipeNo} order by COMMENT_NO
</select>

<select id="selectCommentCount" resultType="_int">

select count(*) from recipe_comment where RECIPE_NO = #{recipeNo}

</select>



</mapper>