<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="SearchMapper">
  <!--채팅기록 -->
  	<resultMap type="Recipe" id="recipeResultMap">
  		<id property="recipeNo" column="RECIPE_NO"/> 
		<result  property="recipeNo" column="RECIPE_NO"/>		 
		<result  property="recipeName" column="RECIPE_NAME"/>   <!--레시피명  -->
		<result  property="recipeInfo" column="RECIPE_INFO"/>   <!--레시피 내용  -->
		<result  property="viewCount" column="VIEW_COUNT"/>   <!-- 조회수 -->
		<result  property="mainPicRename" column="MAIN_PIC_RENAME"/>    <!--메인사진  -->
		<result  property="recipeCategory" column="RECIPE_CATEGORY"/>
		<result  property="recipeTime" column="RECIPE_TIME"/>
		<result  property="recipeStatus" column="RECIPE_STATUS"/>   <!--삭제여부  -->
		<result  property="insertDate" column="INCERT_DATE"/>   <!--등록일순  -->
		<result  property="recommandCount" column="RECOMMAND_COUNT"/>   <!--추천수  -->
		

  	</resultMap> 	

  	<!--전체 조회  제목명을 가지고 전체 조회  -->
  	<select id="recipeAllList"  resultMap="recipeResultMap">
  		SELECT RECIPE_NO, RECIPE_NAME, MAIN_PIC_RENAME FROM RECIPE_TBL WHERE RECIPE_STATUS='Y' ORDER BY VIEW_COUNT DESC	    		
  	</select>	

	<!-- 1. 제목명. 2.해쉬태그 3. 재료명-->
<!-- 	<select id="patternList"  resultMap="recipeResultMap">
		SELECT RECIPE_NO, RECIPE_NAME, MAIN_PIC_RENAME FROM RECIPE_TBL WHERE RECIPE_STATUS='Y' 
		<if test="listCondition.toString() =='viewCount'">ORDER BY VIEW_COUNT DESC</if>
	    	<if test="listCondition.toString() =='recommandCount'">ORDER BY RECOMMAND_COUNT DESC</if>
	    	<if test="listCondition.toString() =='insertDate'">ORDER BY INCERT_DATE DESC</if>	
	</select>  -->
	
	<!--메인메뉴와 3가지 패턴  -->	
	<select id="mainsearchList"  resultMap="recipeResultMap">
		SELECT RECIPE_NO, RECIPE_NAME, MAIN_PIC_RENAME FROM RECIPE_TBL 
		<where>	
		    <if test="mainCondition.toString() == 'mael'"> RECIPE_CATEGORY=#{mainCondition} AND RECIPE_STATUS='Y'</if>
	    	<if test="mainCondition.toString() == 'dessert'"> RECIPE_CATEGORY=#{mainCondition} AND RECIPE_STATUS='Y'</if>
	    	<if test="mainCondition.toString() == 'relish'"> RECIPE_CATEGORY=#{mainCondition} AND RECIPE_STATUS='Y'</if>
	    	<if test="mainCondition.toString() == 'drink'"> RECIPE_CATEGORY=#{mainCondition} AND RECIPE_STATUS='Y'</if>
	    	<if test="mainCondition.toString() == 'all'"> RECIPE_STATUS='Y'</if>
			 
		</where>
	
				
		<if test="listCondition.toString() =='viewCount'">ORDER BY VIEW_COUNT DESC</if>
	   	<if test="listCondition.toString() =='recommandCount'">ORDER BY RECOMMAND_COUNT DESC</if>
	   	<if test="listCondition.toString() =='insertDate'">ORDER BY INCERT_DATE DESC</if>	
	</select>
	
	

	<!--명칭검색시 2가지.  -->
	<select id="selectList" resultMap="recipeResultMap">
	    	SELECT RECIPE_NO, RECIPE_NAME, MAIN_PIC_RENAME FROM RECIPE_TBL 
	    	<where>
	    	<if test="searchCondition.toString() == 'recipeName'"> RECIPE_NAME LIKE '%'||#{searchValue}||'%'</if>	    	
	    	<if test="searchCondition.toString() == 'recipe_material'"> RECIPE_TBL.RECIPE_NO IN (SELECT RECIPE_MATERIAL.RECIPE_NO FROM RECIPE_MATERIAL WHERE RECIPE_MATERIAL.MATERIAL LIKE '%'||#{searchValue}||'%')</if>
	    	AND RECIPE_STATUS='Y'	    	
	    	</where>
	    	<if test="listCondition.toString() =='viewCount'">ORDER BY VIEW_COUNT DESC</if>
	    	<if test="listCondition.toString() =='recommandCount'">ORDER BY RECOMMAND_COUNT DESC</if>
	    	<if test="listCondition.toString() =='insertDate'">ORDER BY INCERT_DATE DESC</if>	    		    		    
	</select>
	
	<!-- 해시태그로 검색시 -->
		<select id="hachSelect" resultMap="recipeResultMap">
	    	SELECT RECIPE_NO, RECIPE_NAME, MAIN_PIC_RENAME FROM RECIPE_TBL     	  	
	    	JOIN RECIPE_TAG USING(RECIPE_NO) WHERE ${hachCondition}='1'	    	
	    	AND RECIPE_STATUS='Y'	    	
	    	
	    	<if test="listCondition.toString() =='viewCount'">ORDER BY VIEW_COUNT DESC</if>
	    	<if test="listCondition.toString() =='recommandCount'">ORDER BY RECOMMAND_COUNT DESC</if>
	    	<if test="listCondition.toString() =='insertDate'">ORDER BY INCERT_DATE DESC</if>	    		    		    
	</select>
	
 </mapper>