<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<!-- 이런 형식으로 넣어주세요 -->
		<!-- <typeAlias type="com.kh.junspring.member.domain.Member" alias="Member"/> -->
		<!-- <typeAlias type="com.kh.junspring.board.domain.Board" alias="Board"/>-->
		<typeAlias type="com.kh.pyeonstaurant.member.domain.Member" alias="Member"/>
		<typeAlias type="com.kh.pyeonstaurant.myrecipe.domain.MyRecipe" alias="MyRecipe"/>
		<typeAlias type="com.kh.pyeonstaurant.report.domain.Report" alias="Report"/>
		<typeAlias type="com.kh.pyeonstaurant.admin.domain.Admin" alias="Admin"/>
		<typeAlias type="com.kh.pyeonstaurant.admin.domain.Board" alias="Board"/>
	</typeAliases>
	<mappers>
		<!-- 이런 형식으로 넣어주세요 -->
		<!-- <mapper resource="mappers/member-mapper.xml"/> -->
		<!-- <mapper resource="mappers/board-mapper.xml"/> -->
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/myRecipe-mapper.xml"/>
		<mapper resource="mappers/report-mapper.xml"/>
		<mapper resource="mappers/admin-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
	</mappers>
</configuration>