<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<!-- 이런 형식으로 넣어주세요 -->
		<!-- <typeAlias type="com.kh.junspring.member.domain.Member" alias="Member"/> -->
		<!-- <typeAlias type="com.kh.junspring.board.domain.Board" alias="Board"/>-->
	</typeAliases>
	<mappers>
		<!-- 이런 형식으로 넣어주세요 -->
		<!-- <mapper resource="mappers/member-mapper.xml"/> -->
		<!-- <mapper resource="mappers/board-mapper.xml"/> -->
	</mappers>
</configuration>