<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<!-- null값이 있으면 null로 제대로 인식하게 한다. -->
	</settings>


	<typeAliases>
		<!-- 이런 형식으로 넣어주세요 -->
		<!-- <typeAlias type="com.kh.junspring.member.domain.Member" alias="Member"/> -->
		<!-- <typeAlias type="com.kh.junspring.board.domain.Board" alias="Board"/> -->

		<typeAlias type="com.kh.pyeonstaurant.recipe.domain.Recipe"		alias="Recipe" />
		<typeAlias type="com.kh.pyeonstaurant.recipe.domain.RecipeStep"		alias="RecipeStep" />
		<typeAlias type="com.kh.pyeonstaurant.recipe.domain.RecipeMaterial"		alias="RecipeMaterial" />
		<typeAlias type="com.kh.pyeonstaurant.recipe.domain.RecipeTag"		alias="RecipeTag" />
		<typeAlias type="com.kh.pyeonstaurant.recipe.domain.RecipeComment" alias="RecipeComment"/>
		<typeAlias type="com.kh.pyeonstaurant.qanda.domain.QA" alias="QA"/>
		<typeAlias type="com.kh.pyeonstaurant.qanda.domain.QAComment" alias="QAComment"/>
		<typeAlias type="com.kh.pyeonstaurant.recipe.domain.Recommandation" alias="Recommandation"/>
	
	</typeAliases>

	<mappers>
		<!-- 이런 형식으로 넣어주세요 -->
		<!-- <mapper resource="mappers/member-mapper.xml"/> -->
		<!-- <mapper resource="mappers/board-mapper.xml"/> -->


		<mapper resource="mappers/recipe-mapper.xml"></mapper>
		<mapper resource="mappers/qna-mapper.xml"></mapper>
		<mapper resource="mappers/qna-mapper.xml"></mapper>
	</mappers>

	
</configuration>